<template>
  <div class="home">
    <Lobbies msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import Lobbies from "@/components/Lobbies.vue";

export default {
  name: "Home",
  components: {
    Lobbies
  }
};
</script>
