<template>
    <el-form :rules="rules" class="form" ref="form" :model="form" label-width="120px">
    <el-form-item label="PARTY DESCRIPTION" prop="name">
      <el-input v-model="form.name"></el-input>
    </el-form-item>
    <el-form-item label="VALORANT NAME" prop="valorant">
      <el-input v-model="form.valorant"></el-input>
    </el-form-item>
    <el-form-item label="RANK" prop="rank">
      <el-radio-group v-model="form.rank">
        <el-radio v-for="rank in ranks" :key="rank.key" :label="rank.key" :name="rank.label">
          <img :src="rank.imageSrc" />
        </el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">START 🎉</el-button>
    </el-form-item>
    </el-form>
</template>

<script>
  import ranks from '../util/ranks';
  import { validateValName } from "@/util/validation"
  import { db, auth, functions } from '../util/db';
  export default {
    data() {
      return {
        form: {
          name: '',
          rank: '',
          valorant: ''
        },
        ranks,
        rules: {
          valorant: [
            { required: true, message: 'Please input your valorant name', trigger: 'blur' },
            { min: 8, max: 25, message: 'Length should be 8 to 25', trigger: 'blur' },
            { validator: validateValName, trigger: 'blur' }
          ],
          rank: [
            { required: true, message: 'Please select your rank', trigger: 'blur' },
          ],
          name: [
            { required: true, message: 'Please add a party description', trigger: 'blur' },
            { min: 8, max: 250, message: 'Length should be 8 to 250', trigger: 'blur' },
          ]
        }
      }
    },
    mounted() {
      // this could be on main.js
      auth.signInAnonymously()
      .catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        if (errorCode === 'auth/operation-not-allowed') {
          alert('You must enable Anonymous auth in the Firebase Console.');
        } else {
          console.error(error);
        }
      })
      .then(() => {
        const uid = auth.currentUser.uid
        db.collection('players').doc(uid).set({
            uid,
            lastSeen: Date.now()
        })
      })

      if (localStorage.name) {
        this.form.name = localStorage.name;
      }
      if (localStorage.rank) {
        this.form.rank = localStorage.rank;
      }
      if (localStorage.valorant) {
        this.form.valorant = localStorage.valorant;
      }
    },
    methods: {
      create() {
        auth.currentUser.getIdToken().then(token => {
          console.log(token)
          functions.httpsCallable('create')({
            valorant: this.form.valorant,
            rank: this.form.rank,
            name: this.form.name,
            token,
          })
          .then(x => {
            this.$router.push(`/lobby/${x.data.lobbyId}`)
          })
        })
      },
      onSubmit() {
        this.$refs.form.validate((valid) => {
          if (!valid) {
            alert('Errors in form');
            return
          }

          localStorage.name = this.form.name;
          localStorage.rank = this.form.rank;
          localStorage.valorant = this.form.valorant;

          if (!auth.currentUser) {
            auth.signInAnonymously()
              .then(() => {
                db.collection('players').doc(auth.currentUser.uid).set({
                  uid: auth.currentUser.uid,
                  lastSeen: Date.now()
                })
                .then(() => {
                  this.create()
                })
            })
          } else {
            this.create()
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  
  .form {
    max-width: 850px;
    margin: auto;
    margin-bottom: 100px;

    background-color: #132332;
    padding: 30px;
    img {
      height: 60px;
      display: block;
    }
  }
  button {
    margin-top: 50px;
  }
</style>