<template>
  <div v-if="lobby !== null">
    <h2>{{lobby.name}}</h2>

    <el-form :rules="rules" class="form" v-if="isShowingForm" ref="form" :model="form" label-width="120px">
      <el-form-item class="valorantInput" label="VALORANT NAME" prop="valorant">
        <el-input v-model="form.valorant"></el-input>
      </el-form-item>
      <el-form-item label="RANK" class="rankInput" prop="rank">
        <el-radio-group v-model="form.rank">
          <el-radio v-for="rank in ranks" :key="rank.key" :label="rank.key" :name="rank.label">
            <img className="rankSelectImage" :src="rank.imageSrc" />
          </el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">JOIN</el-button>
      </el-form-item>
    </el-form>

    <ul v-if="!isShowingForm">
      <li v-for="player in lobby.players" :key="player.valorant">
        <div v-if="lobby.host === uid && uid !== player.uid" @click="kickClick(player.uid)" class="kick">X</div>
        <div class="playerYou" v-if="player.uid === uid">YOU</div>
        <div class="playerHost" v-if="player.uid === lobby.host">HOST</div>
        <div class="playerName">{{player.valorant}}</div>
        <img :src="ranks[player.rank].imageSrc" />
      </li>

      <li v-for="n in searching" :key="n" class="searching">
        <div class="playerName">SEARCHING</div>
        <div class="playerName">SEARCHING</div>
        <div class="playerName">SEARCHING</div>
        <div class="playerName">SEARCHING</div>
        <div class="playerName">SEARCHING</div>
      </li>
    </ul>
    <h1 v-if="!isShowingForm && lobby.host !== uid">THE HOST WILL INVITE YOU TO A VALORANT LOBBY</h1>
    <h1 v-if="!isShowingForm && lobby.host === uid">INVITE THE PLAYERS TO A VALORANT PARTY</h1>
  </div>
</template>

<script>
import { db, auth, functions, oldDb } from '@/util/db'
import { validateValName } from "@/util/validation"
import ranks from '@/util/ranks';

export default {
  name: "Lobby",
  data() {
    return {
      isShowingForm: true,
      lobby: null,
      lobbyId: this.$route.params.id,
      interval: null,
      ranks,
      searching: 5,
      form: {
        rank: '',
        valorant: ''
      },
      uid: auth.currentUser && auth.currentUser.uid,
      rules: {
          valorant: [
            { required: true, message: 'Please input your valorant name', trigger: 'blur' },
            { min: 8, max: 25, message: 'Length should be 8 to 25', trigger: 'blur' },
            { validator: validateValName, trigger: 'blur' }
          ],
          rank: [
            { required: true, message: 'Please select your rank', trigger: 'blur' },
          ],
      }
    }
  },
  mounted() {
    if (localStorage.name) {
      this.form.name = localStorage.name;
    }
    if (localStorage.rank) {
      this.form.rank = localStorage.rank;
    }
    if (localStorage.valorant) {
      this.form.valorant = localStorage.valorant;
    }

    const ref = oldDb
      .ref(`/status/${auth.currentUser.uid}`) // Making a reference to a key-value pair in the old real-time database structure
    
    ref.set({
      online: true
    })

    ref
      .onDisconnect() // Setting up the onDisconnect hook
      .set({online: false, lobbyId: this.lobbyId});


    clearInterval(this.interval)
    this.interval = setInterval(this.ping, 5000)
  },
  props: {
    msg: String
  },
  watch: {
    lobbyId: {
      // call it upon creation too
      immediate: true,
      handler(id) {
        this.$bind('lobby', db.collection('lobbies').doc(id))
      },
    },
    lobby: {
      handler(lobby, oldLobby) {

        // leave when the lobby is deleted
        if (lobby === null && oldLobby !== null) {
          this.$router.push('/')
        }

        const oldPlayers = oldLobby && oldLobby.players && JSON.parse(JSON.stringify(oldLobby.players)) 
        const players = lobby && lobby.players && JSON.parse(JSON.stringify(lobby.players)) 

        if (players && oldPlayers && oldPlayers[this.uid] && !players[this.uid]) {
          // you got kicked!
          console.log('KICKED')
          this.$router.push('/')
        }

        if (lobby) {
          this.searching = 5 - Object.keys(players).length
        }

        if (lobby && lobby.host === this.uid) {
          this.isShowingForm = false
        }
      }
    }
  },
  methods: {
    onSubmit() {

      this.$refs.form.validate((valid) => {
        if (!valid) {
          alert('Errors in form');
          return
        }
        this.isShowingForm = false
        localStorage.name = this.form.name;
        localStorage.rank = this.form.rank;
        localStorage.valorant = this.form.valorant;
        this.join()
      });
    },
    kickClick(uid) {
      auth.currentUser.getIdToken().then(token => {
        functions.httpsCallable('leave')({
          token,
          lobby: this.lobbyId,
          target: uid
        })
      })
    },
    ping() {
      console.log('PING')
      db.collection(`/players`).doc(auth.currentUser.uid).update({
        lastSeen: Date.now()
      })
    },
    join() {
      auth.currentUser.getIdToken().then(token => {
        functions.httpsCallable('join')({
          valorant: this.form.valorant,
          rank: this.form.rank,
          uid: auth.currentUser.uid,
          token,
          lobby: this.lobbyId
        }).then(x => {
          console.log(x)
        })
      })
    }
  },
  beforeDestroy() {
    clearInterval(this.interval)
  },
  beforeRouteEnter(to, from, next) {
    console.log('CURRENT USER', auth.currentUser)
    if (!auth.currentUser) {
      auth.signInAnonymously()
        .then(() => {
          const uid = auth.currentUser.uid
          db.collection('players').doc(uid).set({
            uid,
            lastSeen: Date.now()
          })
          next()
        })
    } else {
      next()
    }
  },
  beforeRouteLeave (to, from, next) {
    console.log(next)
    next()

    auth.currentUser.getIdToken().then(token => {
      functions.httpsCallable('leave')({
        token,
        lobby: this.lobbyId
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .rankSelectImage {
    width: 100px !important;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  h1 {
    color: gray;
  }
  li {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #132332;
    display: inline-block;
    padding: 30px 20px;
    margin: 20px;
    width: 200px;
    height: 300px;
    img {
      height: 140px;
      display: block;
      margin: 0 auto;
    }
  }
  .kick {
    padding: 10px 16px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    right: 0;
    color: #FF4653;
    top: 0;
    position: absolute;
  }
  .playerYou, .playerHost {
    color: #FF4653;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 48px;
  }
  .searching {
    background-color: #FF4653;
    animation: pulse 1s infinite;
  }
  .playerName {
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    font-style: italic;
  }
  .form {
    max-width: 850px;
    margin: auto;
    margin-bottom: 100px;

    background-color: #132332;
    padding: 30px;

    img {
      height: 60px;
      display: block;
    }
  }
  button {
    margin-top: 50px;
  }
  @keyframes pulse {
    0% {
      transform: scale(1.02);
    }
   70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.02);
    }
  }
</style>