<template>
  <div>
    <el-table
      class="table"
      stripe
      v-if="lobbies.length > 0"
      :data="lobbies">
      <el-table-column
        prop="name"
        label="LOBBY NAME"
        width="250">
      </el-table-column>
      <el-table-column width="500" label="PLAYERS">
        <template slot-scope="scope" class="image-slot">
          <ul>
            <li v-for="player in scope.row.players" :key="player.valorant">
              <img :src="ranks[player.rank].imageSrc" />
            </li>
          </ul>
        </template>
      </el-table-column>
      <el-table-column
        label=""
        width="150">0
        <template slot-scope="scope">
          <el-button @click="joinClick(scope.row.id)">JOIN</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-button class="create-lobby" type="primary" @click="$router.push('create-lobby')">START A PARTY</el-button>
  </div>
</template>

<script>
import { db } from '@/util/db'
import ranks from "../util/ranks"

export default {
  name: "Lobbies",
  data() {
    return {
      lobbies: [],
      ranks
    }
  },
  methods: {
    log(msg) {
      console.log('#$#$#$#$', msg)
    },
    joinClick(lobbyId) {
      this.$router.push(`/lobby/${lobbyId}`)
    }
  },
  props: {
    msg: String
  },
  firestore: {
    lobbies: db.collection('lobbies').orderBy('timeCreated', 'desc'),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  img {
    width: 50px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding-right: 30px;
  }
  .create-lobby {
    margin-top: 100px;
  }
  .table {
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
  }
  button {
    // margin-bottom: 100px;
  }
</style>