<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <div class="version">v2</div>
    <div class="footer">
      <a target= "_blank" href="https://discord.gg/H56Kc2g">JOIN OUR DISCORD</a>
      OR
      <a target= "_blank" href="https://twitter.com/VALORANT_PARTY">FOLLOW US ON TWITTER</a>
      THIS IS NOT A LICENSED RIOT PRODUCT.
    </div>
    <a @click="handleClick">
    <svg width="438px" height="39px" viewBox="0 0 146 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
        <title>VaLORANT PARTY</title>
        <desc>Created with Sketch.</desc>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" transform="translate(-52.000000, -137.000000)" fill-rule="nonzero">
                <g id="VaLORANT-PARTY" transform="translate(52.451428, 137.575439)">
                    <path d="M0.148571563,0.192561414 L2.18057156,0.192561414 C2.39390596,0.192561414 2.5699042,0.277893894 2.70857156,0.448561414 L8.46857156,7.93656141 L8.46857156,0.384561414 C8.46857156,0.331227814 8.48723804,0.285894934 8.52457156,0.248561414 C8.56190508,0.211227894 8.60723796,0.192561414 8.66057156,0.192561414 L10.3085716,0.192561414 C10.3619052,0.192561414 10.407238,0.211227894 10.4445716,0.248561414 C10.4819051,0.285894934 10.5005716,0.331227814 10.5005716,0.384561414 L10.5005716,11.2005614 C10.5005716,11.3285621 10.4365722,11.3925614 10.3085716,11.3925614 L8.78857156,11.3925614 C8.57523716,11.3925614 8.39923892,11.3072289 8.26057156,11.1365614 L0.0365715629,0.416561414 C-0.00609531708,0.373894534 -0.0114285971,0.325895014 0.0205715629,0.272561414 C0.0525717229,0.219227814 0.0952379629,0.192561414 0.148571563,0.192561414 Z M12.8045716,11.2325614 L12.8045716,0.416561414 C12.8045716,0.363227814 12.823238,0.317894934 12.8605716,0.280561414 C12.8979051,0.243227894 12.943238,0.224561414 12.9965716,0.224561414 L14.5165716,0.224561414 C14.729906,0.224561414 14.9059042,0.309893894 15.0445716,0.480561414 L23.2845716,11.2005614 C23.3165717,11.253895 23.3192384,11.3045612 23.2925716,11.3525614 C23.2659048,11.4005617 23.2205719,11.4245614 23.1565716,11.4245614 L21.1245716,11.4245614 C20.9112372,11.4245614 20.7352389,11.3392289 20.5965716,11.1685614 L17.8285716,7.55256141 L15.0445716,11.1685614 C14.9059042,11.3392289 14.729906,11.4245614 14.5165716,11.4245614 L12.9965716,11.4245614 C12.943238,11.4245614 12.8979051,11.4058949 12.8605716,11.3685614 C12.823238,11.3312279 12.8045716,11.285895 12.8045716,11.2325614 Z M14.8525716,3.68056141 L14.8525716,7.96856141 L16.5005716,5.82456141 L14.8525716,3.68056141 Z M24.7405716,0.224561414 L26.3885716,0.224561414 C26.5272389,0.224561414 26.5965716,0.288560774 26.5965716,0.416561414 L26.5965716,9.39256141 L31.0765716,9.39256141 C31.1405719,9.39256141 31.1859048,9.41922781 31.2125716,9.47256141 C31.2392384,9.52589501 31.2365717,9.57389453 31.2045716,9.61656141 L30.0045716,11.1685614 C29.8659042,11.3392289 29.6952392,11.4245614 29.4925716,11.4245614 L24.7405716,11.4245614 C24.687238,11.4245614 24.6419051,11.4058949 24.6045716,11.3685614 C24.567238,11.3312279 24.5485716,11.285895 24.5485716,11.2325614 L24.5485716,0.416561414 C24.5485716,0.363227814 24.567238,0.317894934 24.6045716,0.280561414 C24.6419051,0.243227894 24.687238,0.224561414 24.7405716,0.224561414 Z M32.0205716,5.77656141 C32.0205716,4.95522397 32.17257,4.18989829 32.4765716,3.48056141 C32.7805731,2.77122453 33.1912356,2.15789733 33.7085716,1.64056141 C34.2259075,1.12322549 34.836568,0.717896214 35.5405716,0.424561414 C36.2445751,0.131226614 37.0019008,-0.010105306 37.8125716,0.000561413963 C38.6232423,0.011228134 39.380568,0.171226534 40.0845716,0.480561414 C40.7885751,0.789896294 41.3992356,1.21122541 41.9165716,1.74456141 C42.4339075,2.27789741 42.8419034,2.89922453 43.1405716,3.60856141 C43.4392397,4.31789829 43.5832383,5.07255741 43.5725716,5.87256141 C43.5619048,6.68323213 43.4019064,7.44055789 43.0925716,8.14456141 C42.7832367,8.84856493 42.3645742,9.46189213 41.8365716,9.98456141 C41.3085689,10.5072307 40.6925751,10.9152266 39.9885716,11.2085614 C39.284568,11.5018962 38.5272423,11.6485614 37.7165716,11.6485614 C36.9165676,11.6485614 36.1672417,11.4965629 35.4685716,11.1925614 C34.7699014,10.8885599 34.1645741,10.4725641 33.6525716,9.94456141 C33.140569,9.41655877 32.740573,8.79523165 32.4525716,8.08056141 C32.1645701,7.36589117 32.0205716,6.59789885 32.0205716,5.77656141 Z M34.0685716,5.85656141 C34.0685716,6.37923069 34.1699039,6.87522573 34.3725716,7.34456141 C34.5752392,7.81389709 34.8472365,8.22455965 35.1885716,8.57656141 C35.5299066,8.92856317 35.9245693,9.20589373 36.3725716,9.40856141 C36.8205738,9.61122909 37.300569,9.71256141 37.8125716,9.71256141 C38.3139074,9.70189469 38.7885693,9.58989581 39.2365716,9.37656141 C39.6845738,9.16322701 40.0765699,8.87789653 40.4125716,8.52056141 C40.7485732,8.16322629 41.0125706,7.74723045 41.2045716,7.27256141 C41.3965725,6.79789237 41.4872383,6.29923069 41.4765716,5.77656141 C41.4765716,5.25389213 41.3752392,4.75789709 41.1725716,4.28856141 C40.9699039,3.81922573 40.6979066,3.41122981 40.3565716,3.06456141 C40.0152365,2.71789301 39.6179072,2.44322909 39.1645716,2.24056141 C38.711236,2.03789373 38.2339074,1.93656141 37.7325716,1.93656141 C37.2312357,1.94722813 36.7565738,2.05656037 36.3085716,2.26456141 C35.8605693,2.47256245 35.4712399,2.75522629 35.1405716,3.11256141 C34.8099032,3.46989653 34.5485725,3.88322573 34.3565716,4.35256141 C34.1645706,4.82189709 34.0685716,5.32322541 34.0685716,5.85656141 Z M45.4125716,0.384561414 C45.4125716,0.331227814 45.431238,0.285894934 45.4685716,0.248561414 C45.5059051,0.211227894 45.551238,0.192561414 45.6045716,0.192561414 L54.0525716,0.192561414 C54.1059052,0.192561414 54.151238,0.211227894 54.1885716,0.248561414 C54.2259051,0.285894934 54.2445716,0.331227814 54.2445716,0.384561414 L54.2445716,2.73656141 C54.2445716,2.88589549 54.196572,3.01922749 54.1005716,3.13656141 L51.5725716,6.44856141 L55.1885716,11.1685614 C55.2205717,11.221895 55.2232384,11.2725612 55.1965716,11.3205614 C55.1699048,11.3685617 55.1299052,11.3925614 55.0765716,11.3925614 L53.0445716,11.3925614 C52.8312372,11.3925614 52.6552389,11.3072289 52.5165716,11.1365614 L49.0125716,6.57656141 C48.9379045,6.49122765 48.9379045,6.41122845 49.0125716,6.33656141 L52.1645716,2.22456141 L47.4605716,2.22456141 L47.4605716,11.2005614 C47.4605716,11.3285621 47.3912389,11.3925614 47.2525716,11.3925614 L45.6045716,11.3925614 C45.551238,11.3925614 45.5059051,11.3738949 45.4685716,11.3365614 C45.431238,11.2992279 45.4125716,11.253895 45.4125716,11.2005614 L45.4125716,0.384561414 Z M55.4765716,11.2005614 L63.7005716,0.480561414 C63.8392389,0.309893894 64.0152372,0.224561414 64.2285716,0.224561414 L65.7485716,0.224561414 C65.8765722,0.224561414 65.9405716,0.288560774 65.9405716,0.416561414 L65.9405716,11.2325614 C65.9405716,11.3605621 65.8765722,11.4245614 65.7485716,11.4245614 L64.2285716,11.4245614 C64.0152372,11.4245614 63.8392389,11.3392289 63.7005716,11.1685614 L60.9325716,7.55256141 L58.1485716,11.1685614 C58.0099042,11.3392289 57.833906,11.4245614 57.6205716,11.4245614 L55.5885716,11.4245614 C55.535238,11.4245614 55.4925717,11.4005617 55.4605716,11.3525614 C55.4285714,11.3045612 55.4339047,11.253895 55.4765716,11.2005614 Z M62.2605716,5.82456141 L63.9085716,7.96856141 L63.9085716,3.68056141 L62.2605716,5.82456141 Z M68.2445716,11.2325614 L68.2445716,0.416561414 C68.2445716,0.363227814 68.263238,0.317894934 68.3005716,0.280561414 C68.3379051,0.243227894 68.383238,0.224561414 68.4365716,0.224561414 L69.9565716,0.224561414 C70.169906,0.224561414 70.3459042,0.309893894 70.4845716,0.480561414 L76.2445716,7.96856141 L76.2445716,0.416561414 C76.2445716,0.288560774 76.3085709,0.224561414 76.4365716,0.224561414 L78.0845716,0.224561414 C78.2125722,0.224561414 78.2765716,0.288560774 78.2765716,0.416561414 L78.2765716,11.2325614 C78.2765716,11.3605621 78.2125722,11.4245614 78.0845716,11.4245614 L76.5645716,11.4245614 C76.3512372,11.4245614 76.1752389,11.3392289 76.0365716,11.1685614 L70.2925716,3.68056141 L70.2925716,11.2325614 C70.2925716,11.3605621 70.2232389,11.4245614 70.0845716,11.4245614 L68.4365716,11.4245614 C68.383238,11.4245614 68.3379051,11.4058949 68.3005716,11.3685614 C68.263238,11.3312279 68.2445716,11.285895 68.2445716,11.2325614 Z M80.0205716,0.384561414 C80.0205716,0.331227814 80.039238,0.285894934 80.0765716,0.248561414 C80.1139051,0.211227894 80.159238,0.192561414 80.2125716,0.192561414 L87.1565716,0.192561414 C87.369906,0.192561414 87.5459042,0.277893894 87.6845716,0.448561414 L88.8685716,2.00056141 C88.9112384,2.05389501 88.9192384,2.10456117 88.8925716,2.15256141 C88.8659048,2.20056165 88.8205719,2.22456141 88.7565716,2.22456141 L85.1885716,2.22456141 L85.1885716,11.2005614 C85.1885716,11.3285621 85.1245722,11.3925614 84.9965716,11.3925614 L83.3485716,11.3925614 C83.2205709,11.3925614 83.1565716,11.3285621 83.1565716,11.2005614 L83.1565716,2.22456141 L80.2125716,2.22456141 C80.159238,2.22456141 80.1139051,2.20589493 80.0765716,2.16856141 C80.039238,2.13122789 80.0205716,2.08589501 80.0205716,2.03256141 L80.0205716,0.384561414 Z" id="VaLORANT" fill="#FF4653"></path>
                    <path d="M94.6285716,11.2005614 L94.6285716,0.384561414 C94.6285716,0.331227814 94.647238,0.285894934 94.6845716,0.248561414 C94.7219051,0.211227894 94.767238,0.192561414 94.8205716,0.192561414 L103.268572,0.192561414 C103.321905,0.192561414 103.367238,0.211227894 103.404572,0.248561414 C103.441905,0.285894934 103.460572,0.331227814 103.460572,0.384561414 L103.460572,2.73656141 C103.460572,2.88589549 103.412572,3.01922749 103.316572,3.13656141 L100.980572,6.19256141 C100.841904,6.36322893 100.665906,6.44856141 100.452572,6.44856141 L98.4205716,6.44856141 C98.3565712,6.44856141 98.3112384,6.42456165 98.2845716,6.37656141 C98.2579048,6.32856117 98.2659047,6.27789501 98.3085716,6.22456141 L101.380572,2.22456141 L96.6765716,2.22456141 L96.6765716,11.2005614 C96.6765716,11.3285621 96.6072389,11.3925614 96.4685716,11.3925614 L94.8205716,11.3925614 C94.767238,11.3925614 94.7219051,11.3738949 94.6845716,11.3365614 C94.647238,11.2992279 94.6285716,11.253895 94.6285716,11.2005614 Z M100.788572,11.2005614 L109.012572,0.480561414 C109.151239,0.309893894 109.327237,0.224561414 109.540572,0.224561414 L111.060572,0.224561414 C111.188572,0.224561414 111.252572,0.288560774 111.252572,0.416561414 L111.252572,11.2325614 C111.252572,11.3605621 111.188572,11.4245614 111.060572,11.4245614 L109.540572,11.4245614 C109.327237,11.4245614 109.151239,11.3392289 109.012572,11.1685614 L106.244572,7.55256141 L103.460572,11.1685614 C103.321904,11.3392289 103.145906,11.4245614 102.932572,11.4245614 L100.900572,11.4245614 C100.847238,11.4245614 100.804572,11.4005617 100.772572,11.3525614 C100.740571,11.3045612 100.745905,11.253895 100.788572,11.2005614 Z M107.572572,5.82456141 L109.220572,7.96856141 L109.220572,3.68056141 L107.572572,5.82456141 Z M113.556572,0.384561414 C113.556572,0.331227814 113.575238,0.285894934 113.612572,0.248561414 C113.649905,0.211227894 113.695238,0.192561414 113.748572,0.192561414 L122.196572,0.192561414 C122.249905,0.192561414 122.295238,0.211227894 122.332572,0.248561414 C122.369905,0.285894934 122.388572,0.331227814 122.388572,0.384561414 L122.388572,2.73656141 C122.388572,2.88589549 122.340572,3.01922749 122.244572,3.13656141 L119.716572,6.44856141 L123.332572,11.1685614 C123.364572,11.221895 123.367238,11.2725612 123.340572,11.3205614 C123.313905,11.3685617 123.273905,11.3925614 123.220572,11.3925614 L121.188572,11.3925614 C120.975237,11.3925614 120.799239,11.3072289 120.660572,11.1365614 L117.156572,6.57656141 C117.081905,6.49122765 117.081905,6.41122845 117.156572,6.33656141 L120.308572,2.22456141 L115.604572,2.22456141 L115.604572,11.2005614 C115.604572,11.3285621 115.535239,11.3925614 115.396572,11.3925614 L113.748572,11.3925614 C113.695238,11.3925614 113.649905,11.3738949 113.612572,11.3365614 C113.575238,11.2992279 113.556572,11.253895 113.556572,11.2005614 L113.556572,0.384561414 Z M124.084572,0.384561414 C124.084572,0.331227814 124.103238,0.285894934 124.140572,0.248561414 C124.177905,0.211227894 124.223238,0.192561414 124.276572,0.192561414 L131.220572,0.192561414 C131.433906,0.192561414 131.609904,0.277893894 131.748572,0.448561414 L132.932572,2.00056141 C132.975238,2.05389501 132.983238,2.10456117 132.956572,2.15256141 C132.929905,2.20056165 132.884572,2.22456141 132.820572,2.22456141 L129.252572,2.22456141 L129.252572,11.2005614 C129.252572,11.3285621 129.188572,11.3925614 129.060572,11.3925614 L127.412572,11.3925614 C127.284571,11.3925614 127.220572,11.3285621 127.220572,11.2005614 L127.220572,2.22456141 L124.276572,2.22456141 C124.223238,2.22456141 124.177905,2.20589493 124.140572,2.16856141 C124.103238,2.13122789 124.084572,2.08589501 124.084572,2.03256141 L124.084572,0.384561414 Z M133.300572,0.192561414 L135.332572,0.192561414 C135.545906,0.192561414 135.721904,0.277893894 135.860572,0.448561414 L139.140572,4.72056141 L142.420572,0.448561414 C142.559239,0.277893894 142.735237,0.192561414 142.948572,0.192561414 L144.980572,0.192561414 C145.044572,0.192561414 145.089905,0.219227814 145.116572,0.272561414 C145.143238,0.325895014 145.135238,0.373894534 145.092572,0.416561414 L140.164572,6.84856141 L140.164572,11.2005614 C140.164572,11.253895 140.145905,11.2992279 140.108572,11.3365614 C140.071238,11.3738949 140.025905,11.3925614 139.972572,11.3925614 L138.324572,11.3925614 C138.185904,11.3925614 138.116572,11.3285621 138.116572,11.2005614 L138.116572,6.84856141 L133.188572,0.416561414 C133.145905,0.373894534 133.140571,0.325895014 133.172572,0.272561414 C133.204572,0.219227814 133.247238,0.192561414 133.300572,0.192561414 Z" id="PARTY" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </svg>      
    </a>
    <router-view />
  </div>
</template>
<script>
  export default {
    name: "App",
    methods: {
      handleClick() {
        this.$router.push(`/`)
      }
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a {
  cursor: pointer;
}

h1 {
  color: white;
  margin-top: 50px;
  font-size: 40px;
  padding: 10px;
}
.version {
  position: fixed;
  right: 10px;
  top: 5px
}
#nav {
  // padding: 30px;
}
.footer {
  position: fixed;
  bottom: 0;
  // margin: auto;
  a {
    color: gray;
    text-decoration: none;
  }
}

</style>
