@import '~element-ui/lib/theme-chalk/index.css';

$pale: #132332;
$primary: #FF4653;
$secondary: #0F1A24;

.el-form-item__error {
  position: relative;
  margin-top: 5px;
}
  .el-radio__input {
    display: none !important;
  }

  .is-checked {
    background-color: $primary;
  }

  .el-radio {
    padding:10px 20px;;
    padding-bottom: 25px;
  }

  .el-form-item__label {
    float: none;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  .el-form-item__content {
    margin-left: 0 !important;
  }

  input {
    // margin-bottom: 30px;
    max-width: 350px;
  }
body {
    background: $secondary;
}

.el-table tr {
  background-color: $pale;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $pale !important;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: $secondary !important;
}

.el-table th {
  background-color: $secondary;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: $secondary;
}

.el-table td, .el-table th.is-leaf {
  border: none;
}

.el-table::before {
  width: 0;
}

thead {
  font-size: 24px;
}

.el-button--default {
  background: none;
  border-radius: 0;
  color: white;
  padding: 20px 40px;
}

.el-button--primary {
  background-color: $primary;
  border: none;
  border-radius: 0;
  color: white;
  font-weight: 600;
  padding: 20px 80px;
  font-size: 24px;

  &:hover {
  background-color: $primary;
  }
}

.hover-row > td {
  background-color: initial !important;
}